[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyyaml = "*"
crontab = "*"
bernie = {editable = true, path = "."}
networkx = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
